<template name="create_operation">
	<form class="form-horizontal" role="form">
			<select class="selectpicker">
				<option>Region 1</option>
				<option>Region 2</option>
				<option>Region 3</option>
				<option>Region 4</option>
				<option>Region 5</option>
				<option>Region 6</option>
				<option>Region 7</option>
				<option>Region 8</option>
				<option>Region 9</option>
				<option>Region 10</option>
				<option>Region 11</option>
				<option>Region 12</option>
				<option>NCR</option>
				<option>ARMM</option>
			</select>
		
	</form>
</template>